.CardC{
  margin: 0.4rem;
  background-color: #2d2f33;
  border-radius: 1rem;
  padding: 10px;
  margin-left: 50px;
  color:#fff;
  width: 500px;
}

.title{
  margin-top: 15px;
  margin-left: 50px;
  color: #fff;
}

.info{
  padding: 12px;
}

